<%- include("../../components/header.ejs") %>
<%- include("../../components/preloader.ejs") %>
<%- include("../../components/navbar.ejs") %>
<%- include("../../components/sidebar.ejs") %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    <div class="container-fluid">
      
        <div class="row mb-2">
        <div class="col-sm-6">
            <h1>Voucher</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/voucher">Voucher</a></li>
            <li class="breadcrumb-item active">Tambah</li>
            </ol>
        </div>
        </div>
    </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
    <div class="container-fluid">
        <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Form Tambah Voucher</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="/voucher/create" method="post">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="name">Nama Voucher</label>
                      <input type="text" class="form-control" id="name" name="name" required placeholder="Masukan Data Nama Voucher">
                    </div>
                    <div class="form-group">
                      <label for="category">Kategori</label>
                      <select class="form-control select2bs4" style="width: 100%;" required name="category">
                        <option selected="selected">-- Pilih Category --</option>
                        <% category.forEach(category=>{ %>
                          <option value="<%= category._id %>"><%= category.name %></option>
                        <% }) %>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="nominal">Nominal</label>
                      <select class="form-control select2bs4" data-placeholder="-- Pilih Nominal --" multiple="multiple" style="width: 100%;" required name="nominal">
                        <% nominal.forEach(nominal=>{ %>
                          <option value="<%= nominal._id %>"><%= nominal.coinName %> - Rp<%= nominal.price %></option>
                        <% }) %>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="coinQuantity">Jumlah Koin</label>
                      <input type="number" class="form-control" id="coinQuantity" name="coinQuantity" required placeholder="Masukan Data Kuantitas Koin">
                    </div>
                    <div class="form-group">
                      <label for="price">Harga Koin</label>
                      <input type="number" class="form-control" id="price" name="price" required placeholder="Masukan Data Harga Koin">
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </form>
              </div>
            <!-- /.card-header -->
            <!-- /.card-body -->
        <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include("../../components/footer.ejs") %>
<%- include("../../components/js.ejs") %>
